body {
    height: 450px;
    width: 400px;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 2px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #0C2E87;
    color: #fff;
    font-size: 12px;
}

header span {
    margin: 0 15px;
}

.icon-wrap {
    margin: 8px;
}

.icon-wrap ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.icon-wrap ul li {
    list-style: none;
}

.icon-wrap ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 11px;
    color: #0C2E87;
    width: 60px;
    height: 70px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
}

.icon-wrap ul li a .icon_wrap {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.icon-wrap ul li a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon-wrap ul li a span {
    width: 100%;
    display: block;
    text-align: center;
}

.schedule-wrap {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 16px 16px 0 16px;
    margin: 16px;
}

.schedule-wrap p {
    display: inline-block;
}

.schedule-wrap article {
    font-size: 13px;
    display: flex;
}

.schedule-wrap article ul {
    list-style: none;
    padding: 0;
}

.schedule-wrap article ul li {
    line-height: 20px;
}

.schedule-detail li span {
    padding-right: 20px;
    font-weight: bold;
}

.top-wrap {
    display: flex;
    justify-content: space-between;
}

.top-wrap a {
    text-decoration: none;
    color: #666;
}

footer {
    display: flex;
    height: 50px;
    padding-bottom: 15px;
    font-size: 10px;
    align-items: flex-end;
    justify-content: center;
    color: #666;
}